# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=zbxnxsi36722
DB_NAME=portalyx_db
DB_PORT=3306

# Flask Configuration
FLASK_ENV=development
FLASK_APP=src/portalyx_app.py
SECRET_KEY=portalsupersecretkey

# JWT Configuration
JWT_SECRET_KEY=dont-have-yet

# API Configuration
API_PORT=5555
API_HOST=0.0.0.0